/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }
header h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.2
}
header.theme-light.cols-2-half .col-text {
    background-color: var(--trend-100);
}


/* =============== Add your custom CSS below =========== */
